<!-- Default form register -->


<form class="text-center border border-light p-5" (ngSubmit)="savestudent()" method="POST">

  <p class="h4 mb-4">Sign up</p>


     <div class="col  ">
           <!-- First name -->

           <input type="text" [(ngModel)]="Students.id"  id="a" name ="id"class="form-control" placeholder="Student id"  >
      </div><br>

       <div class="col">
          <!-- rollnumber -->
          <input type="text" [(ngModel)]="Students.rollnumber" class="form-control"  name="rollnumber" placeholder="rollnumber" >
      </div><br>


  <!-- E-mail -->
  <div class="col">
    <input type="text" [(ngModel)]="Students.name" class="form-control"  name="name" placeholder="student name" >
  </div><br>


  <!-- Password -->
  <div class="col">
  <input type="text" [(ngModel)]="Students.book" class="form-control"  name="book" placeholder="Book name" >

</div><br>
  <!-- Phone number -->
  <div class="col">
  <input type="text" [(ngModel)]="Students.fees" class="form-control"  name="fees" placeholder="fees" >

</div>
  <!-- Newsletter -->
   <h1>{{msg}}</h1>

  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit">Register Student</button>

  <!-- Social register -->
  <p>or sign up with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->

