<!-- Default form register -->


<form class="text-center border border-light p-5" (ngSubmit)="savestudent()" method="POST">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
      <div class="col">
          <!-- First name -->
          <input type="text" [(ngModel)]="Students.id"   class="form-control" name="id" placeholder="Student id"  >
      </div>
      <div class="col">
          <!-- Last name -->
          <input type="text" [(ngModel)]="Students.rollnumber" class="form-control" id="rn1" name="rollnumber" placeholder="rollnumber" >
      </div>
    </div>

  <!-- E-mail -->

  <input type="text" [(ngModel)]="Students.name" class="form-control" id="rn2" name="name" placeholder="student name" >
  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
    Optional - for two step authentication
</small>
  <!-- Password -->
  <input type="text" [(ngModel)]="Students.book" class="form-control" id="rn3" name="book" placeholder="Book name" >
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
  </small>

  <!-- Phone number -->
  <input type="text" [(ngModel)]="Students.fees" class="form-control" id="rn4" name="fees" placeholder="fees" >
  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      Optional - for two step authentication
  </small>

  <!-- Newsletter -->
  <h1>{{msg}}</h1>

  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit">Register Student</button>

  <!-- Social register -->
  <p>or sign up with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->
<h1>{{msg}}</h1>
